.pokemon-card-list{
    margin-top: 7%;
    margin-bottom: 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
    row-gap: 150px;
    column-gap: 60px;
}


@media (max-width: 768px) {
    .pokemon-card-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}