.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    transform: scale(0);
    transition: transform 1s;
    justify-content: center;
    align-items: center;
    transition:transform 0.2s, opacity 0.5s 0.3s, background-color 0.2s;

    &.modalPokemon-open {
        transform: scale(1);
        opacity: 1; /* Aparece suavemente */
        background-color: rgba(0, 0, 0, 0.5); /* Color visible */
        transition: transform 5s;

        .modal_content{
            transform: scale(1);
            border-radius: 16px;
            box-shadow: 0 11 20 0 #919191;
        }
      
    }

    &.modalPokemon-close {
        opacity: 0; /* Aparece suavemente */
        background-color: rgba(0, 0, 0,0); /* Color visible */
        transform: scale(0);

        .modal_content{
            border-radius: 16px;
            box-shadow: 0 11 20 0 #919191;
            transition: transform 10s;
        }
      
    }


    .modal_content{
        display: flex;
        flex-direction: column;
        .modal_content_header{
            background-image: url("./../../statics/background-left.svg"),  url("./../../statics/background-right.svg");
            background-position: bottom left, top right;
            background-repeat: no-repeat, no-repeat;
            background-clip: border-box, border-box;
            border-radius: 16px;
            display: flex;
            gap: 10px;

            .modal_back{
                margin: 3%;
                cursor: pointer;
            }

            .modal_pokemon{
                margin-top: 4%;
                margin-right: 15%;
                display: flex;
                flex-grow: 1;
                gap: 5%;
                justify-content: center;
                align-items: center;

            
                .pokemon_img{
                    width: 40%;
                    height: 100%;

                    .poke_img{
                        width: 90%;
                        height: 90%;
                    }
                }

                .pokemon_desc{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 3%;

                    .pokemon_number{
                        color: $white;
                        font-size: $font-size-heading-s;
                    }
                    .pokemon_name{
                        color: $white;
                        font-size: $font-size-heading-l;
                    }
                    .pokemon_types{
                        color: $dark-gray;
                        font-size: $font-size-body2;
                            display: flex;
                            .pokemon-type{
                                display: flex;
                                justify-content:space-evenly;
                                align-items: center;
                                margin-right: 3%;
                                padding: 3%;
                                width: auto;
                                min-width: 20px;
                                border-radius: 999px;
                                color: $dark-gray;
                                font-size:$font-size-body2;
                                font-weight:$font-weight-body2;
                            }
                    
                    }
                }
            }
        }
    
        .modal_content_tab{
            background-color: $white;
            border-radius: 16px;
            z-index: 1000;

            .modal_content_tab_header{

                .tab{
                    list-style: none;
                    display: flex;
                    justify-content: start;
                    gap:3%;
                    border-bottom: 1px solid $dark-gray-opacity-24;
                    li.tab_item{
                        padding: 2%;
                        color: $dark-gray-opacity-60;
                        font-size:$font-size-body;
                        font-weight:$font-weight-body;
                        cursor: pointer;


                        &.tab_item_active{
                            color: $dark-gray;
                            border-bottom: 2px solid $dark-blue;
                        }
                    }

                }

            }

            .modal_content_tab_content{

                
                #about{
                    margin: 2%;
                    .table_about{
                        padding: 2%;
                        width: auto;/* El ancho se ajusta automáticamente al contenido */
                        table-layout: auto; /* Permite que las columnas ajusten su ancho dinámicamente */

                        tr{
                            padding: 2%;
                        box-sizing: border-box;

                            td{
                                padding: 8px;
                                color: $dark-gray;
                                font-weight: bold;
                                text-align: left; 
                                white-space: nowrap; /* Evita que el texto haga saltos de línea */                               
                            
                            }
                        }

                    }
                }

                #base-stats{
                    margin: 2%;
                    .table_base-stats{
                        padding: 2%;
                        width: auto;/* El ancho se ajusta automáticamente al contenido */
                        table-layout: auto; /* Permite que las columnas ajusten su ancho dinámicamente */

                        tr{
                            padding: 2%;
                        box-sizing: border-box;

                            td{
                                padding: 8px;
                                color: $dark-gray;
                                font-weight: bold;
                                text-align: left; 
                                white-space: nowrap; /* Evita que el texto haga saltos de línea */

                                &.bar{
                                    width: 100%;

                                    .progress-bar {
                                        width: 100%; /* Ancho completo */
                                        height: 10px; /* Altura de la barra */
                                        background-color: #e0e0e0; /* Color de fondo */
                                        border-radius: 10px; /* Bordes redondeados */
                                        overflow: hidden; /* Evita que el contenido sobresalga */
                                        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra interna */
    
                                         /* Porcentaje de progreso */
                                        .progress {
                                            height: 100%; /* Altura completa */
                                            transition: width 0.3s ease; /* Transición suave para el cambio de porcentaje */
                                        }
                                    }

                                }
                            
                            }
                        }

                    }

                }

            }
            
        }

    }

    
}



@media (max-width: 600px) {
    .modal{

    
        .modal_content{
            .modal_content_header{
    
                .modal_back{
                    margin: 3%;
                    cursor: pointer;
                }
    
                .modal_pokemon{
    
                    .pokemon_img{
                        width: 40%;
                        height: 100%;
    
                        .poke_img{
                            width: 90%;
                            height: 90%;
                        }
                    }
    
                    .pokemon_desc{
                        
                        .pokemon_number{
                            font-size: $font-size-heading-s;
                            padding-bottom: 2%;
                        }
                        .pokemon_name{
                            font-size: $font-size-heading-m;
                            padding-bottom: 2%;
                        }
                        .pokemon_types{
                                .pokemon-type{
                                }
                        
                        }
                    }
                }
            }
    
        }
    
        
    }
}




@media (max-width: 456px) {
    .modal{

    
        .modal_content{
            .modal_content_header{
    
                .modal_back{
                    margin: 3%;
                    cursor: pointer;
                }
    
                .modal_pokemon{
    
                    .pokemon_img{
                        width: 40%;
                        height: 100%;
    
                        .poke_img{
                            width: 90%;
                            height: 90%;
                        }
                    }
    
                    .pokemon_desc{
                        
                        .pokemon_number{
                            font-size: $font-size-heading-s;
                            padding-bottom: 2%;
                        }
                        .pokemon_name{
                            font-size: $font-size-heading-s;
                            padding-bottom: 2%;
                        }
                        .pokemon_types{
                                .pokemon-type{
                                    font-size: 10px
                                }
                        
                        }
                    }
                }
            }
        
        }
    
        
    }
}