@each $nombre, $color in $colorPokemonTag{
    .pokemonType-#{$nombre}{
        background-color: $color;
    }
}

@each $nombre, $color in $colorPokemonBackground{
    .pokemonCard-#{$nombre}{
        background-color: $color;
    }
}

@each $nombre, $color in $colorPokemonBackground{
    .pokemonTypeModal-#{$nombre}{
        background-color: $color;
    }
}


@each $nombre, $color in $colorPokemonBackground{
    .progress-#{$nombre}{
        background-color: $color;
    }
}